.check-box {
  position: relative;

  display: flex;
  justify-content: center;
}
.check-box--size {
  margin-right: auto;
  margin-left: auto;
  width: 423px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.check-box__label {
  padding-left: 22px;

  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: $letter-spacing-0_03em;
  color: $grey-dark;
}
.check-box__input {
  position: absolute;
  top: 25%;
  left: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-box__input:checked + .check-box__icon {
  position: absolute;
  top: 22%;
  left: 0;
  border: none;
  background-color: $blue-light;
  background-origin: border-box;
  border-color: transparent;
}
.check-box__icon {
  position: absolute;
  top: 22%;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid $black-medium;
  border-radius: 2px;
}
.check-box__text {
  color: $blue-light;
}
