.our-team {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.our-team--margins {
  margin: 0;
  padding: 0;
}
.our-team .our-team-information--shadow:not(:last-child) {
  margin-right: 30px;
}
