.portfolio-card {
  @include direction();
  flex-wrap: wrap;
}
.portfolio-card--margin {
  @include margined();
}
.portfolio-card__list--transition:hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px $transparent-black-012,
    0px 4px 4px $transparent-black-006, 1px 4px 6px $transparent-black-016;
  cursor: pointer;
}

.portfolio-card .portfolio-card__list:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-card .portfolio-card__list:nth-child(3n + 1) {
  margin-left: 0px;
}
.portfolio-card .portfolio-card__list:nth-child(n + 4) {
  margin-top: 30px;
}
