.portfolio-information {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-information--padding {
  padding: 20px 24px;
  margin: 0;
}
.portfolio-information__title {
  margin: 0px;

  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: $letter-spacing-0_06em;
  color: $black-medium;
}
.portfolio-information__text {
  margin: 0px;
  margin-top: 4px;

  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: $letter-spacing-0_03em;
  color: $grey-dark;
}
