.regular-customers {
  @include direction();
}
.regular-customers--size {
  @include margined();
}
.regular-customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 170px;
  height: 90px;
  padding: 0px;

  color: $grey-medium;
  background-color: $white-full;
  border: 1px solid $grey-medium;
  border-radius: 4px;
}
.regular-customers__link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $blue-light;
  border-color: $blue-light;
}
.regular-customers__icon {
  fill: currentColor;
}
