.subscribe {
  width: 570px;
  margin-left: 93px;
}

.subscribe-title {
  margin: 0px;
  padding-top: 12px;

  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: $letter-spacing-0_03em;
  text-transform: uppercase;
}
